{{#partial "content"}}


            <h1 style="text-align:center; font-weight:bolder;">Lion Bar Restaurant - Stockage</h1>
            <hr>

                <h3>List des produits</h3>

                <table class="table">

                    <tr>
                        <th scope="col">Date</th>
                        <th scope="col">Nom du produit</th>
                        <th scope="col">Quantité</th>
                        <th scope="col">Prix Unitaire</th>
                        <th scope="col">Prix Total</th>
                    </tr>

                    {{#each stock}}

                        <tr>
                            <td>{{date}}</td>
                            <td>{{name}}</td>
                            <td>{{quantity}}{{pack}}</td>
                            <td>{{priceUnit}}Fbu</td>
                            <td>{{totalPrice}}Fbu</td>
                            <td><a class="btn btn-outline-danger" href="/delete/{{id}}">Supprimer</a></td>
                        </tr>
                    {{/each}}

                </table>

        </div>
    </div>


{{/partial}}

{{>layout.hbs}}
